{% extends 'layouts.html' %}

{% block contentA %}
<div class="container w-50">
    <form method="POST" action="">
{{form.hidden_tag()}}
<br><br><br>
<fieldset>
<legend class="border_bottom mb-4">Login</legend>

<div class="form_group">
    {{form.email.label(class="form-control-label")}}
    {%if form.email.errors%}
    {{form.email(class="form-control form-control-lg is-invalid")}}
        {%for error in form.email.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        {{form.email(class="form-control form-control-lg")}}
    {%endif%}
    
</div>
<div class="form_group">
    {{form.password.label(class="form-control-label")}}
    {%if form.password.errors%}
    {{form.password(class="form-control form-control-lg is-invalid")}}
        {%for error in form.password.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        {{form.password(class="form-control form-control-lg")}}
    {%endif%}
    
</div>

</fieldset>
<div class="field-group">
    {{form.submit(class='btn btn-online-info')}}
</div>
    </form>
</div>
{% endblock contentA %}